.button-group {
  position: relative;
  .button {
    height: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
  }

  .button.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
  .button.circular {
    opacity: 0.4;
    pointer-events: none;
  }

  .button:hover {

  }

  fa {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);
    color: white;
    /* height: 100%; */
    font-size: 20px;
    padding: 13px 20px;
  }

  fa.icon-only {
    position: relative;
    padding: 0;
  }
}

