<div class="button-group"
     [ngStyle]="{
    'height': height,
    'width': width
  }
  ">
  <button *ngIf="fullWidth && !iconOnly"
          class="button"
          [ngClass]="{
    'disabled': disabled,
    'full-width': fullWidth,
    'raised': raised
  }"
          [ngStyle]="{
    'background-color': background,
    'color': color,
    'font-size.px': fontSize,
    'border-radius.px': borderRadius
  }"
          [disabled]="disabled"
  >
    {{ text }}
  </button>
  <button *ngIf="!fullWidth && !iconOnly"
          class="button"
          [ngClass]="{
    'disabled': disabled,
    'raised': raised
  }"
          [ngStyle]="{
    'background-color': background,
    'color': color,
    'font-size.px': fontSize,
    'width.px': width,
    'height.px': height,
    'border-radius.px': borderRadius
  }"
          [disabled]="disabled"
  >
    {{ text }}
  </button>
  <div
    class="padding hoverable"
    [ngStyle]="{
    'background-color': background,
     'width': width
    }"
    *ngIf="icon != ''">
    <fa
      class="centered-v"
      name="{{icon}}"
      [ngStyle]="{
        'background-color': background,
        'color': color,
        'font-size.px': fontSize + 3
       }"
      [ngClass]="{
    'icon-only': iconOnly}">
    </fa>
  </div>

</div>
