<div class="button-group">
  <button *ngIf="fullWidth"
          class="button"
          [ngClass]="{
    'disabled': disabled,
    'full-width': fullWidth,
    'raised': raised
  }"
          [ngStyle]="{
    'background-color': background,
    'color': color,
    'font-size.px': fontSize,
    'border-radius.px': borderRadius
  }"
          [disabled]="disabled"
  >
    {{ text }}
  </button>
  <button *ngIf="!fullWidth"
          class="button"
          [ngClass]="{
    'disabled': disabled,
    'raised': raised
  }"
          [ngStyle]="{
    'background-color': background,
    'color': color,
    'font-size.px': fontSize,
    'width.px': width,
    'height.px': height,
    'border-radius.px': borderRadius
  }"
          [disabled]="disabled"
  >
    {{ text }}
  </button>
  <fa name="plus"
      [ngStyle]="{
    'background-color': background,
    'color': color,
    'font-size.px': fontSize
  }"
  ></fa>
</div>
