.transaction-add {
  position: relative;
  width: 600px;

  input#transaction-description {
    width: inherit;
    height: 54px;
    border-radius: 54px;
    padding-left: 27px;
    max-width: inherit;
    overflow: visible;
  }

  .transaction-description-focus {
    border-radius: 27px 27px 0 0 !important;
    position: relative;
    border: none;
    padding-left: 150px !important;
    padding-top: 2px;
  }

  .description-label {
    position: absolute;
    left: 0;
    z-index: 99999;
    padding: 0 20px;
    border-top-left-radius: 27px;
  }
  .transaction-form {
    position: absolute;
    top: 60px;
    width: inherit;
    height: 300px;
    z-index: 99999;
    border-radius: 0 0 27px 27px;

    .transaction-amount {
      input {
        font-family: "DejaVu Sans Mono";
      }
    }

    .transaction-tag {
      position: relative;

      .tag-suggestions {
        position: absolute;
        top: 0;

        .tag-suggestion {
          padding-top: 2px;
        }
      }

    }
  }


  .transaction-actions {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 20px 20px;
    height: 76px;
    display: inline-flex;
    justify-content: flex-end;

    .transaction-button {
    }
  }


}
