<form novalidate [formGroup]="transactionForm" autocomplete="off" class="high">
  <div class="centered transaction-add"
       appClickOutside
       (clickOutside)="onClickOutside($event)"
  >
    <label for="transaction-description"
           class="full-height centered bg-s description-label"
           [@slideInOut]="transactionBoxAnimationState">
      Description:
    </label>
    <input id="transaction-description"
           type="text"
           placeholder="Add a new transaction..."
           class="centered bg-s"
           (focus)="toggleTransactionBox(true)"
           (keyup.enter)="toggleTransactionBox(true)"
           [ngClass]="{
            'transaction-description-focus': transactionBoxAnimationState == 'in'
           }"
           formControlName="description">
    <div class="bg-white raised transaction-form"
         [@slideInOut]="transactionBoxAnimationState" >
      <div *ngIf="transactionBoxAnimationState == 'in'">
        <div class="transaction-types bordered-b"
             fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-around"
             fxLayoutGap.xs="0">
          <div class="radio padding-s centered"
               fxFlex
               *ngFor="let option of typeOptions">
            <input id="radio-1 + {{option.id}}"
                   type="radio"
                   [checked]="option.selected"
                   formControlName="type"
                   value="{{option.id}}">
            <label for="radio-1 + {{option.id}}" class="radio-label">{{ option.type }}</label>
          </div>
        </div>


        <div class="transaction-types"
             fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between stretch"
             fxLayoutGap="16px"
             fxLayoutGap.xs="0">
          <div class="transaction-amount padding-s" fxFlex>
            <input type="number"
                   placeholder="Amount"
                   class="full-width"
                   formControlName="amount">
            <p class="error" *ngIf="f().amount.invalid && f().amount.touched && f().amount.value.toString().length > 0">Invalid amount</p>
          </div>
          <div class="transaction-tag padding-s" fxFlex>
            <input type="text" placeholder="Tag" name="tag"
                   class="full-width"
                   formControlName="tag">
            <div class="tags-suggestions raised-light"
                 [@slideInOutSlow]="suggestionsAnimationState">
              <!--TODO implement this suggester-->
              <!--<div class="padding bordered-b bg-s tag-suggestion"-->
              <!--[ngClass]="{'raised': _tag.hovered }"-->
              <!--*ngFor="let _tag of suggestedTags"-->
              <!--(mouseenter)="_tag.hovered = true"-->
              <!--(mouseleave)="_tag.hovered = false">-->
              <!--{{ _tag.name }}-->
              <!--</div>-->
            </div>
          </div>
        </div>

        <div class="transaction-types"
             fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between stretch"
             fxLayoutGap="16px"
             fxLayoutGap.xs="0">
          <div class="transaction-date padding-s"
               fxFlex>
            <input type="date"
                   placeholder="Amount"
                   class="full-width"
                   [valueAsDate]="today"
                   formControlName="date">
          </div>
          <div class="padding-s" fxFlex>
            <input type="text" placeholder="Account" class="full-width">
          </div>
        </div>
      </div>

      <div class="full-width bg-s transaction-actions">
        <div class="centered-v action-item"
             *ngIf="transactionBoxAnimationState == 'in'">
          <div class="margin add-transaction-button" (click)="saveTransaction()">
            <app-button
              [text]="'Save'"
              [width]="150"
              [circular]="true"
              [disabled]="transactionForm.invalid">
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
