<div class="row no-padding margin-bs header-wrapper">
  <div class="col">
    <div class="margin options">
      <div class="centered padding option">
        Profile
        <fa name="user" class="padding"></fa>
      </div>
      <div class="centered padding option">
        Account Settings
        <fa name="cog" class="padding"></fa>
      </div>
    </div>
    <div class="navigation">
      <div class="logo-wrapper padding">
        <div class="logo">
          <p><span class="color-p">Account</span><span class="color-s">+</span></p>
        </div>
      </div>
      <div class="elements">
        <div class="element padding centered-v">
          <div class="main-title padding">
            <div class="centered-v title">
              <span class="padding">Dashboard</span>
              <fa name="dashboard" class="padding"></fa>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
