.header-wrapper {
  height: 60px;
  .logo-wrapper {
    width: 100px;

    .logo {
      p {
        font-size: 50px;
        font-weight: 700;
        margin: 0;
        font-family: "DejaVu Sans Mono";
      }
    }
  }
}
