<div class="dashboard-report-card"
  [ngStyle]="{
    'border-top': '5px solid' + config.title.color
  }">

  <div class="centered title padding-s">

    <p [ngStyle]="{
      'color': config.title.color
    }">

      {{ config.title.name }}

    </p>

  </div>

  <div class="centered card-value">
    <p [ngStyle]="{
      'color': config.title.color
    }">
      {{ data.value | number: '.2' }} {{ data.unit }}
    </p>
  </div>

  <div class="centered card-trend">
    <fa name="arrow-up" class="padding color-green" *ngIf="data.value  > data.previous"></fa>
    <fa name="arrow-down" class="padding color-red" *ngIf="data.value  < data.previous"></fa>

    <p class="color-green" *ngIf="data.value > data.previous">
      {{((data.value - data.previous) / data.value ) * 100 | number: '.1' }}%
      ({{ data.value - data.previous  | number: '.2' }} {{data.unit}})
    </p>

    <p class="color-red" *ngIf="data.value < data.previous">
      {{((data.value - data.previous) / data.value ) * 100 | number: '.1' }}%
      ({{ data.value - data.previous | number: '.2'}} {{data.unit}})
    </p>

  </div>
</div>
