.dashboard-report-card {
  height: 200px;
  //width: 400px;
  color: white;

  .title {
    p {
      //font-family: "DejaVu Sans Mono";
      font-size: 20px;
    }
  }

  .card-value {
    p {
      //font-family: "DejaVu Sans Mono";
      font-size: 30px;
    }
  }

  .card-trend {
    margin-top: 20px;
    fa, p {
      //font-family: "DejaVu Sans Mono";
      font-size: 20px;
    }
  }
}
