<div class="raised dashboard-report-card"
  [ngStyle]="{
    'border-top': '5px solid' + config.title.color
  }">

  <div class="centered title padding-s">

    <p [ngStyle]="{
      'color': config.title.color
    }">

      {{ config.title.name }}

    </p>

  </div>

  <div class="centered card-value">
    <p [ngStyle]="{
      'color': config.title.color
    }">
      {{ config.data.value | number: '.2' }} {{ config.data.unit }}
    </p>
  </div>

  <div class="centered card-trend">
    <fa name="arrow-up" class="padding color-p" *ngIf="config.data.value > config.data.previous"></fa>
    <fa name="arrow-down" class="padding color-red" *ngIf="config.data.value < config.data.previous"></fa>

    <p class="color-p" *ngIf="config.data.value > config.data.previous">
      {{((config.data.value - config.data.previous) / config.data.value ) * 100 | number: '.1' }}%
      ({{ config.data.value - config.data.previous  | number: '.2' }} KES)
    </p>

    <p class="color-red" *ngIf="config.data.value < config.data.previous">
      {{((config.data.value - config.data.previous) / config.data.value ) * 100 | number: '.1' }}%
      ({{ config.data.value - config.data.previous | number: '.2'}} KES)
    </p>

  </div>
</div>
