<div class="dashboard-report-card raised-light"
  [ngStyle]="{
    'border-top': '5px solid' + (config$ | async).title.color
  }">

  <div class="centered title padding-s">

    <p [ngStyle]="{
      'color': (config$ | async).title.color
    }">

      {{ (config$ | async).title.name }}

    </p>

  </div>

  <div class="centered card-value">
    <p [ngStyle]="{
      'color': (config$ | async).title.color
    }">
      {{ (config$ | async).data.value | async | number: '.2' }} {{ (config$ | async).data.unit }}
    </p>
  </div>

  <div class="centered card-trend">
    <fa name="arrow-up" class="padding color-green" *ngIf="(config$ | async).data.value  > (config$ | async).data.previous"></fa>
    <fa name="arrow-down" class="padding color-red" *ngIf="(config$ | async).data.value  < (config$ | async).data.previous"></fa>

    <p class="color-green" *ngIf="(config$ | async).data.value > (config$ | async).data.previous">
      {{(((config$ | async).data.value - (config$ | async).data.previous) / (config$ | async).data.value ) * 100 | number: '.1' }}%
      ({{ (config$ | async).data.value - (config$ | async).data.previous  | number: '.2' }} KES)
    </p>

    <p class="color-red" *ngIf="(config$ | async).data.value < (config$ | async).data.previous">
      {{(((config$ | async).data.value - (config$ | async).data.previous) / (config$ | async).data.value ) * 100 | number: '.1' }}%
      ({{ (config$ | async).data.value - (config$ | async).data.previous | number: '.2'}} KES)
    </p>

  </div>
</div>
