.dashboard-report-card {
  height: 200px;
  width: 400px;
  background: rgba(238, 250, 232, 0.3);
  color: white;

  .title {
    p {
      font-family: "DejaVu Sans Mono";
      font-size: 20px;
    }
  }

  .card-value {
    p {
      font-family: "DejaVu Sans Mono";
      font-size: 30px;
    }
  }

  .card-trend {
    margin-top: 20px;
    fa, p {
      font-family: "DejaVu Sans Mono";
      font-size: 20px;
    }
  }
}
