<div class="bordered" [ngStyle]="{'background-color': chart.backgroundColor}">
  <div class="row">
    <div class="centered col">
      <p class="margin title color-p">{{chart.title}}</p>
    </div>
  </div>
  <div class="row">
    <div class="centered col">
      <p class="sub-title">{{chart.subtitle}}</p>
    </div>
  </div>
  <div class="graph-container">
    <div class="row">
      <div class="col">
        <canvas class="segment centered" #canvas2></canvas>
      </div>
    </div>
  </div>

</div>
