.intro {
  color: #fff;
  overflow: hidden;
  background-size: cover;
  .item {
    p {
      color: black;
    }
  }
  .saving {
    .transactions-header {
      height: 40px;
    }
  }

  .svg-bg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .benefits {
    display: block;

    p, div {
      color: black;
    }

    .benefit-item {
      margin-bottom: 24px;
      .benefit-item-heading {
        display: inline-flex;
        fa, p {
          font-size: 25px;
        }
      }

      .benefit-item-separator {
        height: 3px;
        border: 1px solid black;
        border-radius: 3px;
        width: 60px;
        background: black;
      }
    }
  }

  .phone-bg {
    background: #f4f6f8;
    background-image: url(https://images.unsplash.com/photo-1515054562254-30a1b0ebe227?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
  }

}

