<div class="transactions-component bg-white">
  <div class="title-bar">
    <div
      class="padding-t padding-r"
      fxLayout
      fxLayout.xs="row"
      fxLayoutAlign="space-between end"
      fxLayoutGap.xs="0">
      <div fxFlex class="full-height title-bar-option"
           (click)="selectList(0)"
           [ngClass]="{
              'bg-s': lists[0].selected
           }">
        <div class="full-height full-width title-group">
          <fa class="padding" name="list"></fa>
          <p class="padding">Transactions <span class="title-bar-label bordered">{{ (transactions$ | async).length }}</span></p>
        </div>
        <div class="title-bar-underline" *ngIf="lists[0].selected"></div>
      </div>
      <div fxFlex
           class="full-height title-bar-option"
           id="deleted"
           (click)="selectList(1)"
           [ngClass]="{
              'bg-s': lists[1].selected
           }">
        <div class="full-height full-width title-group">
          <fa class="padding" name="trash"></fa>
          <p class="padding">Deleted <span class="title-bar-label bordered">2</span></p>
        </div>
        <div class="title-bar-underline" *ngIf="lists[1].selected"></div>
      </div>
      <div fxFlex class="full-height padding-b">
        <app-button
          [text]="'View All'"
          [width]="150"
          [circular]="true"
          class="centered add-transaction-button">
        </app-button>
      </div>
    </div>

  </div>

  <div class="transaction-table bg-s">
    <table class="padding full-width">
      <!--<thead class="transaction-list-titles">-->
      <!--<tr class="padding">-->
      <!--<th class="padding">-->
      <!--<p>Amount</p>-->
      <!--</th>-->
      <!--<th class="padding">-->
      <!--<p>Tag</p>-->
      <!--</th>-->
      <!--<th class="padding">-->
      <!--<p>Description</p>-->
      <!--</th>-->
      <!--<th class="padding-h">-->
      <!--<p>Date</p>-->
      <!--</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <tbody class="transaction-list-data">
      <tr *ngFor="let transaction of transactions$ | async" class="bordered-b padding"
          [ngClass]="{'raised-light': transaction.hovered }"
          (mouseenter)="transaction.hovered = true"
          (mouseleave)="transaction.hovered = false"
      >
        <td class="padding" [ngClass]="{
        'color-red': transaction.amount < 0,
        'color-green': transaction.amount >= 0
        }">
          <span *ngIf="transaction.amount > 0">+</span>{{ transaction.amount | number: '.2' }}
        </td>
        <td class="padding">
          <a href="">{{ transaction.tag.name }}</a>
        </td>
        <td class="padding">
          <p class="transaction-description"> {{ transaction.description }}</p>
        </td>
        <td class="padding-h">
          {{transaction.created_at | date: 'MMM d'}}
        </td>
        <td class="padding">
          <div class="transaction-action-icon" (click)="deleteTransaction(transaction)">
            <fa name="trash" class="centered"></fa>
          </div>
        </td>
        <td>
          <div class="transaction-action-icon hovicon-mini effect-1 sub-a">
            <fa name="ellipsis-h" class="centered"></fa>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


<app-modal id="custom-modal-1" [raised]="true">
  <h1>A Custom Modal!</h1>
  <p>Home page text</p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</app-modal>
