<div class="transactions-component bg-white">
  <div class="title-bar">
    <div
       class="padding-t padding-r"
       fxLayout
       fxLayout.xs="row"
       fxLayoutAlign="space-between end"
       fxLayoutGap.xs="0">
      <div fxFlex class="full-height title-bar-option" (click)="selectList(0)">
        <div class="full-height full-width title-group">
          <fa class="padding" name="list"></fa>
          <p class="padding">Transactions <span class="title-bar-label bordered">335</span></p>
        </div>
        <div class="title-bar-underline" *ngIf="lists[0].selected"></div>
      </div>
      <div fxFlex class="full-height title-bar-option" id="deleted" (click)="selectList(1)">
        <p class="centered full-height full-width">Deleted <span class="title-bar-label bordered">2</span></p>
        <div class="title-bar-underline" *ngIf="lists[1].selected"></div>
      </div>
      <div fxFlex class="full-height">
        <app-button
          [text]="'Add'"
          [icon]="'plus'"
          [width]="150"
          [circular]="true"
          class="centered add-transaction-button padding-b"
          (click)="openModal('custom-modal-1')">
        </app-button>
      </div>
    </div>

  </div>
  <table class="padding full-width transaction-table bg-s">
    <!--<thead class="transaction-list-titles">-->
    <!--<tr class="padding">-->
      <!--<th class="padding">-->
        <!--<p>Amount</p>-->
      <!--</th>-->
      <!--<th class="padding">-->
        <!--<p>Tag</p>-->
      <!--</th>-->
      <!--<th class="padding">-->
        <!--<p>Description</p>-->
      <!--</th>-->
      <!--<th class="padding-h">-->
        <!--<p>Date</p>-->
      <!--</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <tbody class="transaction-list-data">
    <tr *ngFor="let transaction of transactions" class="bordered-b padding"
        [ngClass]="{'raised-light': transaction.hovered }"
        (mouseenter)="transaction.hovered = true"
        (mouseleave)="transaction.hovered = false"
      >
      <td class="padding" [ngClass]="{
        'color-red': transaction.amount < 0,
        'color-green': transaction.amount >= 0
        }">
        <span *ngIf="transaction.amount > 0">+</span>{{ transaction.amount | number: '.2' }}
      </td>
      <td class="padding">
        <a href="">{{ transaction.tag.name }}</a>
      </td>
      <td class="padding">
        <p class="transaction-description"> {{ transaction.description }}</p>
      </td>
      <td class="padding-h">
        {{transaction.created_at | date: 'MMM d'}}
      </td>
    </tr>
    </tbody>
  </table>

</div>


<app-modal id="custom-modal-1" [raised]="true">
  <h1>A Custom Modal!</h1>
  <p>Home page text</p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</app-modal>
