@import "~src/variables.scss";

.container {
  margin-top: 60px;

  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 6px
  }


  .filters {
    height: 70px;
    z-index: 0;
    .hoverable {
      cursor: pointer !important;
    }

    .hoverable:hover {
      background: $grey;
      color: $primary;
    }

    .menu-icon {
      height: 32px;
      width: 50px;
      cursor: pointer;
    }

    .filter {
      border-top: 2px solid $primary;
      display: inline-flex;
      min-width: 160px;
      position: relative;
      height: 32px;

      .flag {}

      fa.arrow {
        position: absolute;
        right: 0;
      }

      .options {
        position: absolute;
        top: 100%;
        width: 150%;
        max-height: 220px;
        overflow: auto;
      }

    }

  }
  .filters.right {
    right: 0;
  }
  .transaction-bar {
    .transaction-add {
      position: relative;
      width: 600px;

      input {
        width: inherit;
        height: 54px;
        border-radius: 54px;
        padding-left: 27px;
        max-width: inherit;
      }

      input:focus , input:hover {
        border-radius: 20px 20px 0 0;
        position: relative;
        border: none;
      }

      .transaction-form {
        position: absolute;
        top: 56px;
        width: inherit;
        height: 300px;
        z-index: 99999;
        border-radius: 0 0 20px 20px;
      }

    }

  }
}
app-modal {
  display: none;
}

