<div class="top-header">
  <app-header></app-header>
</div>
<div class="content" #content>
  <div class="margin-s container">
    <div fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="space-between"
         fxLayoutGap="8px"
         fxLayoutGap.xs="0">
      <div flex >
        <div class="filters"  fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between"
             fxLayoutGap="8px"
             fxLayoutGap.xs="0">
          <div (click)="showSide = !showSide" class="padding-h menu-icon">
            <div class="padding-h full-height bordered centered hoverable">
              <fa name="bars"
                  class="padding">
              </fa>
            </div>
          </div>
          <div class="filter centered-v padding-h bordered hoverable"
               flex (click)="showTagOptions = !showTagOptions"
               appClickOutside
               (clickOutside)="onClickOutside($event)">
            <fa name="tag" class="centered-v padding-v padding-ls type"></fa>
            <p class="padding-v centered ">All Tags</p>
            <fa name="angle-down" class="centered-v padding-v arrow"></fa>
            <div class="raised options bg-s" *ngIf="showTagOptions">
              <p *ngFor="let tag of tags" class="padding bordered margin rounded-s">{{ tag.name }}</p>
            </div>
          </div>
          <div class="filter centered-v padding-h bordered" flex>
            <fa name="calendar" class="centered-v padding-v padding-ls type"></fa>
            <p class="padding-v centered">This Month</p>
            <fa name="angle-down" class="centered-v padding-v arrow"></fa>
          </div>
        </div>
      </div>
      <div flex class="transactions-block">
        <div class="relative">
          <div class="margin-bs">
            <div class="transaction-bar">
              <app-transaction-form></app-transaction-form>
            </div>
          </div>
        </div>
      </div>
      <div flex>
        <div class="filters right margin-rs"  fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between"
             fxLayoutGap="8px"
             fxLayoutGap.xs="0">
          <div class="filter centered-v padding-h bordered hoverable" flex>
            <div class="padding-l">
              <i class="flag flag-48 flag-ke centered-v"></i>
            </div>
            <p class="padding-v centered">Kshs</p>
            <fa name="angle-down" class="centered-v padding-v arrow"></fa>
          </div>
        </div>
      </div>

    </div>
    <div fxLayout
         fxLayout.xs="row"
         fxLayoutAlign="space-between"
         fxLayoutGap="8px"
         fxLayoutGap.xs="0">

      <div fxFlex="1 1 20%" *ngIf="showSide">
        <div class="bg-white full-height margin-r">
          <app-budgets></app-budgets>
        </div>
      </div>
      <div fxFlex="1 1 80%" *ngIf="showSide">
        <div class="cards"
             fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between center"
             fxLayoutGap="16px"
             fxLayoutGap.xs="0">
          <div class="bg-white" fxFlex *ngFor="let card of cards">
            <app-card [config]="card"></app-card>
          </div>
        </div>
        <div class="margin-ts"
             fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between stretch"
             fxLayoutGap="16px"
             fxLayoutGap.xs="0">
          <div fxFlex class="bg-white">
            <app-piechart [chart]="pieChart"></app-piechart>
          </div>
          <div fxFlex>
            <app-linechart [chart]="lineChart" [fill]="true"></app-linechart>
          </div>
        </div>

        <div class="margin-ts"
             fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between stretch"
             fxLayoutGap="16px"
             fxLayoutGap.xs="0">
          <div fxFlex class="bg-white">
            <app-transactions></app-transactions>
          </div>
        </div>
      </div>
      <div fxFlex="1 1 100%" *ngIf="!showSide">
        <div class="cards"
             fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between center"
             fxLayoutGap="16px"
             fxLayoutGap.xs="0">
          <div class="rounded-s bg-white" fxFlex *ngFor="let card of cards">
            <app-card [config]="card"></app-card>
          </div>
        </div>
        <div class="margin-ts"
             fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between stretch"
             fxLayoutGap="16px"
             fxLayoutGap.xs="0">
          <div fxFlex class="bg-white">
            <!--<app-piechart [chart]="pieChart"></app-piechart>-->
          </div>
          <div fxFlex>
            <!--<app-linechart [chart]="lineChart"></app-linechart>-->
          </div>
        </div>

        <div class="margin-ts"
             fxLayout
             fxLayout.xs="row"
             fxLayoutAlign="space-between stretch"
             fxLayoutGap="16px"
             fxLayoutGap.xs="0">
          <div fxFlex class="bg-white">
            <app-transactions></app-transactions>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="margin-ts"-->
  <!--fxLayout-->
  <!--fxLayout.xs="row"-->
  <!--fxLayoutAlign="space-between stretch"-->
  <!--fxLayoutGap="16px"-->
  <!--fxLayoutGap.xs="0" >-->
  <!--<div fxFlex *ngFor="let graph of barCharts">-->
  <!--<app-barchart [chart]="graph"></app-barchart>-->
  <!--</div>-->
  <!--</div>-->

</div>

