<div class="raised top-header">
  <app-header></app-header>
</div>

<div class="centered-h content">
  <div class="segment centered">
    <div class="bg-white margin-s padding-s relative login chart">
      <div class="bordered-b shaded">
        <div class="centered login-header">
          <h3>AccountPlus</h3>
        </div>
        <div class="centered padding login-title">
          <p class="bold-800 color-p">Sign In</p>
        </div>
        <div class="centered login-intro">
          <p>to your account</p>
        </div>
        <div class="errors">
          <div class="error">
            <p *ngFor="let message of (messages$ | async)">{{message.title}}</p>
          </div>
        </div>
        <div class="login-form">
          <app-login-form></app-login-form>
        </div>
      </div>

      <div class="absolute-bottom padding-bs">
        <a href="" class="info link ">Forgot Password?</a>
        <a href="" class="info link float-right">Create an account</a>
      </div>
    </div>
  </div>
</div>
