<form [formGroup]="loginForm" novalidate class="login-form-content relative">
  <div class="form-control margin-ts">
    <label for="login-email" *ngIf="formLabels.email && loginForm.get('email').value.length">
      Email:
    </label>
    <input type="text" id="login-email" class="margin-t" placeholder="Email" formControlName="email" (focus)="formLabels.email = true">
  </div>
  <div class="form-control margin-ts">
    <label for="login-password" *ngIf="formLabels.password && loginForm.get('password').value.length">
      Password:
    </label>
    <input type="password" id="login-password" class="margin-t" placeholder="Password" formControlName="password"
           (focus)="formLabels.password = true"
           (keydown.enter)="signIn()"
    >
  </div>

  <div class="margin-ts">
    <app-button [text]="'Login'" [fullWidth]="true" (click)="signIn()" [disabled]="loginForm.invalid" class="centered"></app-button>
  </div>

</form>


