<div class="raised top-header">
  <app-header></app-header>
</div>
<div class="content" #content>
  <div class="row">
    <div class="col">
      <div class="padding-s margin-s bordered rounded-s raised chart">
        <textarea [ngStyle]="{'height.px': lineChart.height }">{{ data | json }}</textarea>
      </div>
    </div>
    <div class="col">
      <app-piechart [chart]="pieChart"></app-piechart>
    </div>
    <div class="col">
      <app-linechart [graph]="lineChart"></app-linechart>
    </div>
  </div>
  <div class="row" >
    <div class="col" *ngFor="let graph of graphs">
      <app-bargraph [graph]="graph"></app-bargraph>
    </div>
  </div>
</div>
