<div class="top-header">
  <app-header></app-header>
</div>
<div class="content" #content>
  <!--<app-piechart [graph]="graph" [max]="max"></app-piechart>-->
  <div class="row" >
    <div class="col">
      <app-bargraph [graph]="graph" [height]="height" [width]="width" [barWidth]="barWidth"></app-bargraph>

    </div>
  </div>


  <!--  <div class="bg-p">
      <div class="row">
        <div class="col rounded-s bordered segment bg-white">
          <app-piechart [graph]="graph" [max]="max"></app-piechart>
        </div>
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
      </div>
      <div class="row">
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
      </div>
      <div class="row">
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
        <div class="col rounded-s bordered segment padding bg-white">
          <app-bargraph></app-bargraph>
        </div>
      </div>
    </div>-->
</div>
