<form [formGroup]="profileForm" novalidate class="signup-form">
  <div class="form-control margin-ts">
    <label for="signup-email"
           *ngIf="formLabels.email && profileForm.get('email').value.length">
      Email:
    </label>

    <input type="text" id="signup-email"
           formControlName="email"
           class="margin-t bg-ivory"
           placeholder="Email"
           (focus)="formLabels.email = true">

    <div class="info error"
         *ngIf="profileForm.get('email').invalid && profileForm.get('email').dirty">
      <span>
        Incorrect email format
      </span>
    </div>

    <p class="info margin-h">We’ll occasionally send updates about your account to this inbox. We’ll never share your email address with anyone.</p>
  </div>

  <div class="form-control margin-ts">
    <label for="signup-password"
           *ngIf="formLabels.password && profileForm.get('password').value.length">
      Password:
    </label>
    <input type="password"
           id="signup-password"
           formControlName="password"
           class="margin-t bg-ivory"
           placeholder="Password"
           (keydown.enter)="signUp()" (focus)="formLabels.password = true">
    <div class="info error" *ngIf="profileForm.get('password').invalid && profileForm.get('password').dirty">
      <span>
        Password must be at least 8 characters including a number and a lowercase letter.
      </span>
    </div>
  </div>

  <p class="info margin-hs">By clicking “Create an account” below, you agree to our <a class="link">terms of service</a> and <a class="link">privacy statement</a>. We’ll occasionally send you account related emails.</p>

  <app-button [text]="'Create an account'" (click)="signUp()" [disabled]="profileForm.invalid"></app-button>
</form>
