<div class="row no-padding margin-bs header-wrapper">
  <div class="col">
    <div class="margin options">
      <a *ngIf="!(loggedIn$ | async)" class="centered padding option" routerLink="/auth/register">
        Register
        <fa name="user" class="padding"></fa>
      </a>
      <div *ngIf="!(loggedIn$ | async)" class="centered padding option" routerLink="/auth/login">
        Log In
        <fa name="user" class="padding"></fa>
      </div>
      <div *ngIf="loggedIn$ | async" class="centered padding option">
        Account Settings
        <fa name="cog" class="padding"></fa>
      </div>
      <div *ngIf="loggedIn$ | async" class="centered padding option" (click)="signOut()">
        Sign Out
        <fa name="user" class="padding"></fa>
      </div>
    </div>
    <div class="navigation">
      <nav class="logo-wrapper padding" routerLink="/home">
        <div class="logo">
          <p><span class="color-p">Account</span><span class="color-s">Plus</span></p>
        </div>
      </nav>
      <div class="elements" *ngIf="loggedIn$ | async">
        <div class="element padding centered-v">
          <div class="main-title padding">
            <nav class="centered-v title" routerLink="/dashboard">
              <span class="padding">Dashboard</span>
              <fa name="dashboard" class="padding"></fa>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader *ngIf="loaderService.loaderState"></app-loader>
