@import "~src/variables.scss";

@media (min-width: 992px) {
  .header-wrapper {
    height: 40px;
    position: fixed;
    width: 100%;

    p, span, i, fa, div, a {
      color: $primary;
    }


    .elements {
      position: relative;
      display: inline-flex;


      .logo {
        //font-size: 25px;
        margin: 0;
      }

      .element {
        .main-title {
          font-size: 20px;
          height: 60px;
          position: relative;

          .title {
            display: inline-flex;
          }
        }
      }

      .element.left {
        margin-left: auto;
      }

      .element:hover {
        -webkit-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
        background: #b0d7db;

      }
    }
  }
}

//Can be used for the sidebar later
/*.sidebar {
  height: 100vh;
  width: 200px;
  background: #DADADA;
  position: absolute;
  left: 0;
  top: 0;
}*/



