<div class="row no-padding padding-bs header-wrapper">
  <div class="col">

    <div class="centered-v elements">
      <a class="logo padding-s element" routerLink="/home">
        <span class="color-p">i</span>
        <span class="color-s">Save</span>
      </a>
      <a href="" class="padding-s element"  routerLink="/dashboard"  *ngIf="loggedIn$ | async">
        <span class="padding">Dashboard</span>
        <fa name="dashboard" class="padding"></fa>
      </a>

      <a href="" class="padding-s element" routerLink="/home"  *ngIf="loggedIn$ | async">
        <span class="padding">Loans</span>
        <fa name="money" class="padding"></fa>
      </a>

      <a *ngIf="!(loggedIn$ | async)" class="padding element" routerLink="/account/register">
        Register
        <fa name="user" class="padding"></fa>
      </a>
      <a *ngIf="!(loggedIn$ | async)" class="padding element" routerLink="/account/login">
        Log In
        <fa name="user" class="padding"></fa>
      </a>
      <a *ngIf="loggedIn$ | async" class="padding element left">
        Account Settings
        <fa name="cog" class="padding"></fa>
      </a>
      <a *ngIf="loggedIn$ | async" class="padding element" (click)="signOut()">
        Sign Out
        <fa name="user" class="padding"></fa>
      </a>
    </div>
  </div>
</div>
<app-loader *ngIf="showLoader"></app-loader>

