@import "~src/variables.scss";

@media (min-width: 992px) {
  .header-wrapper {
    height: 40px;
    position: fixed;
    width: 100%;
    background: $primary;

    p, span, i, fa, div, a {
      color: $white;
      text-decoration: none;
    }

    .elements {
      position: relative;
      display: inline-flex;


      .logo {
        font-size: 35px;
        margin: 0;
        background: $grey;
        min-width: 200px;
        span {
          color: $primary !important;
        }
      }

      .element {
        height: inherit;
        cursor: pointer;

        .main-title {
          font-size: 20px;
          height: 60px;
          position: relative;

          .title {
            display: inline-flex;
          }
        }


      }

      .element.left {
        margin-left: auto;
      }

      .element.active {
        border-bottom: 2px solid $primary;
      }
      .element:hover {
        .hoverable {
          -webkit-transition: background 0.2s ease-in-out;
          transition: background 0.2s ease-in-out;
          background: $primary-dark;
        }
      }
    }
  }
}

//Can be used for the sidebar later
/*.sidebar {
  height: 100vh;
  width: 200px;
  background: #DADADA;
  position: absolute;
  left: 0;
  top: 0;
}*/



