.pie-chart {
  display: inline-flex;

  .keys {
    width: 300px;
    .key {
      display: inline-flex;

      .key-tag {
        width: 180px;
        .color {
          height: 10px;
          width: -webkit-fill-available;
          align-items: center;
          //border: 2px dotted blueviolet;
        }
      }


      .color-title {
        width: 40%;
      }
    }
  }
}
canvas {
  //height: 200px;
}
