<script src="../../../auth/auth-routing.module.ts"></script>
<div class="padding-s margin-s bordered raised" [ngStyle]="{'background-color': chart.backgroundColor,'width.px': chart.width + 400}">
  <div class="padding-s margin-bs">
    <p class="centered bold padding">{{chart.title}}</p>
    <p class="centered info color-grey">{{chart.subtitle }}</p>
  </div>

  <div class="pie-chart">
    <div class="margin-rs padding">
      <canvas class="centered" #canvas1></canvas>
    </div>
    <div class="keys padding-s">
      <div *ngFor="let pie of chart.pies" class="full-width key">
        <div class="centered padding-s color"
             [ngStyle]="{
        'background-color': pie.color
       }">
        </div>
        <div class="padding-s color-title">
          {{ pie.title }}
        </div>
        <div class="full-width centered key-value">
          <p class="full-height text-left full-width bold">{{ chart.unit }}  {{ pie.value | number : '1.2-2'}} </p>
          <p class="centered">-</p>
          <p class="text-right full-width bold">{{ pie.percentage | number : '1.2-2' }} %</p>
        </div>
      </div>
    </div>
  </div>
</div>
