@import url('../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css');

@import "variables";
body, p {
  margin: 0;
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  background: #f5f5f5;
}
input {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #90bfbc;
  min-height: 40px;
  background: white !important;
  padding: 2px 10px;
  font-size: 16px;
  max-width: 400px;
}
input:focus {
  border: none;
  border-bottom-color: #90bfbc;
  background: white !important;
  box-shadow: none;
}
li {
  list-style: none;
}
.link {
  color: #0E5A77;
}
.bg-beige {
  background: beige;
}
.bg-ivory {
  background: ivory;
}
.bg-p {
  background: #000000;
}
.bg-white {
  background: #FFFFFF;
}
.bg-red {
  background: #FA7C92;
}
.bg-blue {
  background: #1a20ff;
}
.bg-bluish {
  background: #c3fff7;
}
.color-p {
  color: #6EC4DB;
}
.color-red {
  color: #FA7C92;
}
.color-s {
  color: #777529;
}
.color-white {
  color: white;
}
.color-grey {
  color: #586069;
}
.row {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  .col {
    width: 100%;
  }
}
.no-margin {
  margin: 0;
}
.margin {
  margin: 8px;
}
.margin-s {
  margin: 16px;
}
.margin-b {
  margin-bottom: 8px;
}
.margin-bs {
  margin-bottom: 16px;
}
.margin-t {
  margin-top: 8px;
}
.margin-ts {
  margin-top: 16px;
}
.margin-l {
  margin-left: 8px;
}
.margin-ls {
  margin-left: 16px;
}
.margin-r {
  margin-right: 8px;
}
.margin-rs {
  margin-right: 16px;
}
.margin-h {
  margin: 8px 0;
}
.margin-hs {
  margin: 16px 0;
}
.margin-v {
  margin: 0 8px;
}
.margin-vs {
  margin: 0 16px;
}
.no.padding {
  padding: 0;
}
.padding {
  padding: 8px;
}
.padding-b {
  padding-bottom: 8px;
}
.padding-t {
  padding-top: 8px;
}
.padding-l {
  padding-left: 8px;
}
.padding-r {
  padding-right: 8px;
}
.padding-bs {
  padding-bottom: 16px;
}
.padding-ts {
  padding-top: 16px;
}
.padding-ls {
  padding-left: 16px;
}
.padding-rs {
  padding-right: 16px;
}
.padding-h {
  padding: 8px 0;
}
.padding-v {
  padding: 0 8px;
}
.padding-s {
  padding: 16px;
}
.padding-hs {
  padding: 16px 0;
}
.padding-vs {
  padding: 0 16px;
}
.rounded {
  border-radius: 4px;
}
.rounded-s {
  border-radius: 8px;
}
.raised {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
}
.centered {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}
.centered-l {
  justify-content: left;
  align-items: center;
  display: flex;
  margin: auto;
}
.centered-r {
  justify-content: right;
  align-items: center;
  display: flex;
  margin: auto;
}
.centered-v {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centered-h {
  display: flex;
  justify-content: center;
}
.segment {
  min-height: 240px;
}
// Custom borders

.bordered {
  border: 1px solid #DADADA;
}
.bordered-t {
  border-top: 1px solid #DADADA;
}
.bordered-r {
  border-right: 1px solid #DADADA;
}
.bordered-b {
  border-bottom: 1px solid #DADADA;
}
.bordered-l {
  border-left: 1px solid #DADADA;
}
.circular {
  border-radius: 50%;
}
.top-header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  opacity: 1;
  background: white;
  height: 70px;
}
.content {
  position: relative;
  margin-top: 70px;
  height:95vh;
  //background: #f5f5f5;
  //background: url("assets/backgrounds/mountain+range.png");
  //background: url("assets/backgrounds/laptop-money-manage.jpg");
  //background: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?cs=srgb&dl=background-black-colors-952670.jpg&fm=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.info {
  font-size: 13px;
}
.error {
  color: #940e1a;
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 400;
}

.light-300 {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.bold-800 {
  font-weight: 800;
}

.form-control {
  display: grid;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
.shaded {
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#0e5a77), to(#fff), color-stop(0.5, #fff), color-stop(1, #66CBFE)) 129 1 1 1;
}
.relative {
  position: relative;
}

.absolute-bottom {
  position: absolute;
  bottom:  0;
}

.height-transition {
  -webkit-transition: height 500ms ease-out 1s;
  -moz-transition: height 500ms ease-out 1s;
  -o-transition: height 500ms ease-out 1s;
  transition: height 500ms ease-out 1s;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.chart {
  border-top: 5px solid darkviolet;
}
