@import url('../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css');

@import "~src/variables.scss";
body, p, button, input {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #6ec4db;
  //text-decoration: none;
}
body {
  background-color: #E6ECF0;
}
input {
  box-shadow: none;
  border: none;
  border-bottom: 2px solid $primary;
  min-height: 40px;
  background: white;
  font-size: 16px;
  max-width: 400px;
}
input:focus {
  background: white;
  box-shadow: none;
  outline: none;
}


// Radio Buttons
.radio {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $background;
        border-radius: 100%;
        border: 1px solid darken($primary, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $primary;
          box-shadow: inset 0 0 0 4px $background;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $secondary;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $background;
          border-color: darken($background, 25%);
          background: darken($background, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
li {
  list-style: none;
}
.link {
  color: #0E5A77;
}
.bg-beige {
  background: beige;
}
.bg-ivory {
  background: ivory;
}
.bg-p {
  background: #E6ECF0;
}
.bg-s {
  background: $bg-s;
}  .bg-white {
  background: #FFFFFF;
}
.bg-black {
    background: #000000;
}
.bg-red {
  background: #FA7C92;
}
.bg-blue {
  background: #1a20ff;
}
.bg-bluish {
  background: #c3fff7;
}
.color-p {
  color: #6EC4DB;
}
.color-red {
  color: #FA7C92;
}
.color-green {
  color: #66AB86;
}
.color-s {
  color: #66AB86;
}
.color-white {
  color: white;
}
.hover-white {
  color: #cbeeff;
}
.color-grey {
  color: #586069;
}

.color-black {
  color: #000;
}
.row {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  .col {
    width: 100%;
  }
}
.no-margin {
  margin: 0;
}
.margin {
  margin: 8px;
}
.margin-s {
  margin: 16px;
}
.margin-b {
  margin-bottom: 8px;
}
.margin-bs {
  margin-bottom: 16px;
}
.margin-t {
  margin-top: 8px;
}
.margin-ts {
  margin-top: 16px;
}
.margin-l {
  margin-left: 8px;
}
.margin-ls {
  margin-left: 16px;
}
.margin-r {
  margin-right: 8px;
}
.margin-rs {
  margin-right: 16px;
}
.margin-h {
  margin: 8px 0;
}
.margin-hs {
  margin: 16px 0;
}
.margin-v {
  margin: 0 8px;
}
.margin-vs {
  margin: 0 16px;
}
.no.padding {
  padding: 0;
}
.padding {
  padding: 8px;
}
.padding-b {
  padding-bottom: 8px;
}
.padding-t {
  padding-top: 8px;
}
.padding-l {
  padding-left: 8px;
}
.padding-r {
  padding-right: 8px;
}
.padding-bs {
  padding-bottom: 16px;
}
.padding-ts {
  padding-top: 16px;
}
.padding-ls {
  padding-left: 16px;
}
.padding-rs {
  padding-right: 16px;
}
.padding-h {
  padding: 8px 0;
}
.padding-v {
  padding: 0 8px;
}
.padding-s {
  padding: 16px;
}
.padding-hs {
  padding: 16px 0;
}
.padding-vs {
  padding: 0 16px;
}
.rounded {
  border-radius: 4px;
}
.rounded-s {
  border-radius: 8px;
}
.raised {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
}
.raised-light {
  box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.centered {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}
.centered-l {
  justify-content: left;
  align-items: center;
  display: flex;
  margin: auto;
}
.centered-r {
  justify-content: right;
  align-items: center;
  display: flex;
  margin: auto;
}
.centered-v {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.centered-h {
  display: flex;
  justify-content: center;
}
.segment {
  min-height: 240px;
}
// Custom borders

.bordered {
  border: 1px solid #dadada;
}
.bordered-t {
  border-top: 1px solid #e6ecf0;
}
.bordered-r {
  border-right: 1px solid #e6ecf0;
}
.bordered-b {
  border-bottom: 1px solid #e6ecf0;
}
.bordered-l {
  border-left: 1px solid #e6ecf0;
}
.circular {
  border-radius: 50%;
}
.top-header {
  position: fixed;
  top: 0;
  z-index: 899;
  width: 100%;
  opacity: 1;
  background: white;
  height: 66px;
}
.content {
  //position: relative;
  margin-top: 66px;
  height:95vh;
  //background: #f5f5f5;
  //background: url("assets/backgrounds/mountain+range.png");
  //background: url("assets/backgrounds/laptop-money-manage.jpg");
  //background: url("https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?cs=srgb&dl=background-black-colors-952670.jpg&fm=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.info {
  font-size: 13px;
}
.error {
  color: #940e1a;
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 400;
}

.light-300 {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.bold-800 {
  font-weight: 800;
}

.form-control {
  display: grid;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
.shaded {
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#0e5a77), to(#fff), color-stop(0.5, #fff), color-stop(1, #66CBFE)) 129 1 1 1;
}
.relative {
  position: relative;
}
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.high {
  z-index: 999999999;
}

.absolute-bottom {
  position: absolute;
  bottom:  0;
}
.absolute-top {
  position: absolute;
  top:  0;
}

.height-transition {
  -webkit-transition: height 500ms ease-out 1s;
  -moz-transition: height 500ms ease-out 1s;
  -o-transition: height 500ms ease-out 1s;
  transition: height 500ms ease-out 1s;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.headline {
  font-size: 24px;
}
.headline-s {
  font-size: 45px;
}
.chart {
  border-top: 5px solid $primary;
}

/* MODAL STYLES
-------------------------------*/
app-modal {
  /* modals are hidden by default */
  display: none;

  .app-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .app-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .app-modal-body {
      padding: 20px;
      background: #fff;

      /* margin exposes part of the modal background */
      margin: 40px;
    }
  }

  .app-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #E6ECF0;
    opacity: 0.75;

    /* z-index must be below .app-modal and above everything else  */
    z-index: 900;
  }
}

body.app-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  //overflow: hidden;
}

.title-bar-underline {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 0;
  margin: 0 8px;
  position: absolute;
  right: 0;
  background-color: #6EC4DB;
}

//Hoverable icon animations
.hovicon {
  display: inline-block;
  font-size: 45px;
  line-height: 90px;
  cursor: pointer;
  margin: 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  color: #fff;
}


.hovicon.small {
  font-size: 20px;
  line-height:45px;
  width:45px;
  height:45px;
  margin:7px;
}
.hovicon.mini {
  font-size: 15px;
  line-height:32px;
  width:30px;
  height:30px;
  margin:7px;
}
.hovicon.auto-width {
  width: auto;
  height: auto;
  padding: 15px;
}
.hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content:'';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.hovicon:before {
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

/* Effect 1 */
.hovicon.effect-1 {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px $background;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.8);
  opacity: 0;
}
/* Effect 1a */
.hovicon.effect-1.sub-a:hover {
  background: rgba(255, 255, 255, 1);
  color: $primary;
}
.hovicon.effect-1.sub-a:hover i {
  color: $primary;
}
.hovicon.effect-1.sub-a:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}


.hoverable {
  cursor: pointer;
}

.hoverable:hover {
  background: $grey;
  color: $primary;
}


.flag {
  display: inline-block;
  background-repeat: no-repeat;
}

.flag.flag-64 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url('assets/sprite-flags-64x64.png');
  background-repeat: no-repeat;
}
.flag.flag-64.flag-abkhazia { background-position: -0px -0px; }
.flag.flag-64.flag-basque-country { background-position: -64px -0px; }
.flag.flag-64.flag-british-antarctic-territory { background-position: -128px -0px; }
.flag.flag-64.flag-commonwealth { background-position: -192px -0px; }
.flag.flag-64.flag-england { background-position: -256px -0px; }
.flag.flag-64.flag-gosquared { background-position: -320px -0px; }
.flag.flag-64.flag-kosovo { background-position: -384px -0px; }
.flag.flag-64.flag-mars { background-position: -448px -0px; }
.flag.flag-64.flag-nagorno-karabakh { background-position: -512px -0px; }
.flag.flag-64.flag-nato { background-position: -576px -0px; }
.flag.flag-64.flag-northern-cyprus { background-position: -640px -0px; }
.flag.flag-64.flag-olympics { background-position: -704px -0px; }
.flag.flag-64.flag-red-cross { background-position: -768px -0px; }
.flag.flag-64.flag-scotland { background-position: -832px -0px; }
.flag.flag-64.flag-somaliland { background-position: -896px -0px; }
.flag.flag-64.flag-south-ossetia { background-position: -960px -0px; }
.flag.flag-64.flag-united-nations { background-position: -1024px -0px; }
.flag.flag-64.flag-unknown { background-position: -0px -64px; }
.flag.flag-64.flag-wales { background-position: -64px -64px; }
.flag.flag-64.flag-ad { background-position: -128px -64px; }
.flag.flag-64.flag-ae { background-position: -192px -64px; }
.flag.flag-64.flag-af { background-position: -256px -64px; }
.flag.flag-64.flag-ag { background-position: -320px -64px; }
.flag.flag-64.flag-ai { background-position: -384px -64px; }
.flag.flag-64.flag-al { background-position: -448px -64px; }
.flag.flag-64.flag-am { background-position: -512px -64px; }
.flag.flag-64.flag-an { background-position: -576px -64px; }
.flag.flag-64.flag-ao { background-position: -640px -64px; }
.flag.flag-64.flag-aq { background-position: -704px -64px; }
.flag.flag-64.flag-ar { background-position: -768px -64px; }
.flag.flag-64.flag-as { background-position: -832px -64px; }
.flag.flag-64.flag-at { background-position: -896px -64px; }
.flag.flag-64.flag-au { background-position: -960px -64px; }
.flag.flag-64.flag-aw { background-position: -1024px -64px; }
.flag.flag-64.flag-ax { background-position: -0px -128px; }
.flag.flag-64.flag-az { background-position: -64px -128px; }
.flag.flag-64.flag-ba { background-position: -128px -128px; }
.flag.flag-64.flag-bb { background-position: -192px -128px; }
.flag.flag-64.flag-bd { background-position: -256px -128px; }
.flag.flag-64.flag-be { background-position: -320px -128px; }
.flag.flag-64.flag-bf { background-position: -384px -128px; }
.flag.flag-64.flag-bg { background-position: -448px -128px; }
.flag.flag-64.flag-bh { background-position: -512px -128px; }
.flag.flag-64.flag-bi { background-position: -576px -128px; }
.flag.flag-64.flag-bj { background-position: -640px -128px; }
.flag.flag-64.flag-bl { background-position: -704px -128px; }
.flag.flag-64.flag-bm { background-position: -768px -128px; }
.flag.flag-64.flag-bn { background-position: -832px -128px; }
.flag.flag-64.flag-bo { background-position: -896px -128px; }
.flag.flag-64.flag-br { background-position: -960px -128px; }
.flag.flag-64.flag-bs { background-position: -1024px -128px; }
.flag.flag-64.flag-bt { background-position: -0px -192px; }
.flag.flag-64.flag-bw { background-position: -64px -192px; }
.flag.flag-64.flag-by { background-position: -128px -192px; }
.flag.flag-64.flag-bz { background-position: -192px -192px; }
.flag.flag-64.flag-ca { background-position: -256px -192px; }
.flag.flag-64.flag-cc { background-position: -320px -192px; }
.flag.flag-64.flag-cd { background-position: -384px -192px; }
.flag.flag-64.flag-cf { background-position: -448px -192px; }
.flag.flag-64.flag-cg { background-position: -512px -192px; }
.flag.flag-64.flag-ch { background-position: -576px -192px; }
.flag.flag-64.flag-ci { background-position: -640px -192px; }
.flag.flag-64.flag-ck { background-position: -704px -192px; }
.flag.flag-64.flag-cl { background-position: -768px -192px; }
.flag.flag-64.flag-cm { background-position: -832px -192px; }
.flag.flag-64.flag-cn { background-position: -896px -192px; }
.flag.flag-64.flag-co { background-position: -960px -192px; }
.flag.flag-64.flag-cr { background-position: -1024px -192px; }
.flag.flag-64.flag-cu { background-position: -0px -256px; }
.flag.flag-64.flag-cv { background-position: -64px -256px; }
.flag.flag-64.flag-cw { background-position: -128px -256px; }
.flag.flag-64.flag-cx { background-position: -192px -256px; }
.flag.flag-64.flag-cy { background-position: -256px -256px; }
.flag.flag-64.flag-cz { background-position: -320px -256px; }
.flag.flag-64.flag-de { background-position: -384px -256px; }
.flag.flag-64.flag-dj { background-position: -448px -256px; }
.flag.flag-64.flag-dk { background-position: -512px -256px; }
.flag.flag-64.flag-dm { background-position: -576px -256px; }
.flag.flag-64.flag-do { background-position: -640px -256px; }
.flag.flag-64.flag-dz { background-position: -704px -256px; }
.flag.flag-64.flag-ec { background-position: -768px -256px; }
.flag.flag-64.flag-ee { background-position: -832px -256px; }
.flag.flag-64.flag-eg { background-position: -896px -256px; }
.flag.flag-64.flag-eh { background-position: -960px -256px; }
.flag.flag-64.flag-er { background-position: -1024px -256px; }
.flag.flag-64.flag-es { background-position: -0px -320px; }
.flag.flag-64.flag-et { background-position: -64px -320px; }
.flag.flag-64.flag-eu { background-position: -128px -320px; }
.flag.flag-64.flag-fi { background-position: -192px -320px; }
.flag.flag-64.flag-fj { background-position: -256px -320px; }
.flag.flag-64.flag-fk { background-position: -320px -320px; }
.flag.flag-64.flag-fm { background-position: -384px -320px; }
.flag.flag-64.flag-fo { background-position: -448px -320px; }
.flag.flag-64.flag-fr { background-position: -512px -320px; }
.flag.flag-64.flag-ga { background-position: -576px -320px; }
.flag.flag-64.flag-gb { background-position: -640px -320px; }
.flag.flag-64.flag-gd { background-position: -704px -320px; }
.flag.flag-64.flag-ge { background-position: -768px -320px; }
.flag.flag-64.flag-gg { background-position: -832px -320px; }
.flag.flag-64.flag-gh { background-position: -896px -320px; }
.flag.flag-64.flag-gi { background-position: -960px -320px; }
.flag.flag-64.flag-gl { background-position: -1024px -320px; }
.flag.flag-64.flag-gm { background-position: -0px -384px; }
.flag.flag-64.flag-gn { background-position: -64px -384px; }
.flag.flag-64.flag-gq { background-position: -128px -384px; }
.flag.flag-64.flag-gr { background-position: -192px -384px; }
.flag.flag-64.flag-gs { background-position: -256px -384px; }
.flag.flag-64.flag-gt { background-position: -320px -384px; }
.flag.flag-64.flag-gu { background-position: -384px -384px; }
.flag.flag-64.flag-gw { background-position: -448px -384px; }
.flag.flag-64.flag-gy { background-position: -512px -384px; }
.flag.flag-64.flag-hk { background-position: -576px -384px; }
.flag.flag-64.flag-hn { background-position: -640px -384px; }
.flag.flag-64.flag-hr { background-position: -704px -384px; }
.flag.flag-64.flag-ht { background-position: -768px -384px; }
.flag.flag-64.flag-hu { background-position: -832px -384px; }
.flag.flag-64.flag-ic { background-position: -896px -384px; }
.flag.flag-64.flag-id { background-position: -960px -384px; }
.flag.flag-64.flag-ie { background-position: -1024px -384px; }
.flag.flag-64.flag-il { background-position: -0px -448px; }
.flag.flag-64.flag-im { background-position: -64px -448px; }
.flag.flag-64.flag-in { background-position: -128px -448px; }
.flag.flag-64.flag-iq { background-position: -192px -448px; }
.flag.flag-64.flag-ir { background-position: -256px -448px; }
.flag.flag-64.flag-is { background-position: -320px -448px; }
.flag.flag-64.flag-it { background-position: -384px -448px; }
.flag.flag-64.flag-je { background-position: -448px -448px; }
.flag.flag-64.flag-jm { background-position: -512px -448px; }
.flag.flag-64.flag-jo { background-position: -576px -448px; }
.flag.flag-64.flag-jp { background-position: -640px -448px; }
.flag.flag-64.flag-ke { background-position: -704px -448px; }
.flag.flag-64.flag-kg { background-position: -768px -448px; }
.flag.flag-64.flag-kh { background-position: -832px -448px; }
.flag.flag-64.flag-ki { background-position: -896px -448px; }
.flag.flag-64.flag-km { background-position: -960px -448px; }
.flag.flag-64.flag-kn { background-position: -1024px -448px; }
.flag.flag-64.flag-kp { background-position: -0px -512px; }
.flag.flag-64.flag-kr { background-position: -64px -512px; }
.flag.flag-64.flag-kw { background-position: -128px -512px; }
.flag.flag-64.flag-ky { background-position: -192px -512px; }
.flag.flag-64.flag-kz { background-position: -256px -512px; }
.flag.flag-64.flag-la { background-position: -320px -512px; }
.flag.flag-64.flag-lb { background-position: -384px -512px; }
.flag.flag-64.flag-lc { background-position: -448px -512px; }
.flag.flag-64.flag-li { background-position: -512px -512px; }
.flag.flag-64.flag-lk { background-position: -576px -512px; }
.flag.flag-64.flag-lr { background-position: -640px -512px; }
.flag.flag-64.flag-ls { background-position: -704px -512px; }
.flag.flag-64.flag-lt { background-position: -768px -512px; }
.flag.flag-64.flag-lu { background-position: -832px -512px; }
.flag.flag-64.flag-lv { background-position: -896px -512px; }
.flag.flag-64.flag-ly { background-position: -960px -512px; }
.flag.flag-64.flag-ma { background-position: -1024px -512px; }
.flag.flag-64.flag-mc { background-position: -0px -576px; }
.flag.flag-64.flag-md { background-position: -64px -576px; }
.flag.flag-64.flag-me { background-position: -128px -576px; }
.flag.flag-64.flag-mf { background-position: -192px -576px; }
.flag.flag-64.flag-mg { background-position: -256px -576px; }
.flag.flag-64.flag-mh { background-position: -320px -576px; }
.flag.flag-64.flag-mk { background-position: -384px -576px; }
.flag.flag-64.flag-ml { background-position: -448px -576px; }
.flag.flag-64.flag-mm { background-position: -512px -576px; }
.flag.flag-64.flag-mn { background-position: -576px -576px; }
.flag.flag-64.flag-mo { background-position: -640px -576px; }
.flag.flag-64.flag-mp { background-position: -704px -576px; }
.flag.flag-64.flag-mq { background-position: -768px -576px; }
.flag.flag-64.flag-mr { background-position: -832px -576px; }
.flag.flag-64.flag-ms { background-position: -896px -576px; }
.flag.flag-64.flag-mt { background-position: -960px -576px; }
.flag.flag-64.flag-mu { background-position: -1024px -576px; }
.flag.flag-64.flag-mv { background-position: -0px -640px; }
.flag.flag-64.flag-mw { background-position: -64px -640px; }
.flag.flag-64.flag-mx { background-position: -128px -640px; }
.flag.flag-64.flag-my { background-position: -192px -640px; }
.flag.flag-64.flag-mz { background-position: -256px -640px; }
.flag.flag-64.flag-na { background-position: -320px -640px; }
.flag.flag-64.flag-nc { background-position: -384px -640px; }
.flag.flag-64.flag-ne { background-position: -448px -640px; }
.flag.flag-64.flag-nf { background-position: -512px -640px; }
.flag.flag-64.flag-ng { background-position: -576px -640px; }
.flag.flag-64.flag-ni { background-position: -640px -640px; }
.flag.flag-64.flag-nl { background-position: -704px -640px; }
.flag.flag-64.flag-no { background-position: -768px -640px; }
.flag.flag-64.flag-np { background-position: -832px -640px; }
.flag.flag-64.flag-nr { background-position: -896px -640px; }
.flag.flag-64.flag-nu { background-position: -960px -640px; }
.flag.flag-64.flag-nz { background-position: -1024px -640px; }
.flag.flag-64.flag-om { background-position: -0px -704px; }
.flag.flag-64.flag-pa { background-position: -64px -704px; }
.flag.flag-64.flag-pe { background-position: -128px -704px; }
.flag.flag-64.flag-pf { background-position: -192px -704px; }
.flag.flag-64.flag-pg { background-position: -256px -704px; }
.flag.flag-64.flag-ph { background-position: -320px -704px; }
.flag.flag-64.flag-pirate-black { background-position: -384px -704px; }
.flag.flag-64.flag-pirate-white { background-position: -448px -704px; }
.flag.flag-64.flag-pk { background-position: -512px -704px; }
.flag.flag-64.flag-pl { background-position: -576px -704px; }
.flag.flag-64.flag-pn { background-position: -640px -704px; }
.flag.flag-64.flag-pr { background-position: -704px -704px; }
.flag.flag-64.flag-ps { background-position: -768px -704px; }
.flag.flag-64.flag-pt { background-position: -832px -704px; }
.flag.flag-64.flag-pw { background-position: -896px -704px; }
.flag.flag-64.flag-py { background-position: -960px -704px; }
.flag.flag-64.flag-qa { background-position: -1024px -704px; }
.flag.flag-64.flag-ro { background-position: -0px -768px; }
.flag.flag-64.flag-rs { background-position: -64px -768px; }
.flag.flag-64.flag-ru { background-position: -128px -768px; }
.flag.flag-64.flag-rw { background-position: -192px -768px; }
.flag.flag-64.flag-sa { background-position: -256px -768px; }
.flag.flag-64.flag-sb { background-position: -320px -768px; }
.flag.flag-64.flag-sc { background-position: -384px -768px; }
.flag.flag-64.flag-sd { background-position: -448px -768px; }
.flag.flag-64.flag-se { background-position: -512px -768px; }
.flag.flag-64.flag-sg { background-position: -576px -768px; }
.flag.flag-64.flag-sh { background-position: -640px -768px; }
.flag.flag-64.flag-si { background-position: -704px -768px; }
.flag.flag-64.flag-sk { background-position: -768px -768px; }
.flag.flag-64.flag-sl { background-position: -832px -768px; }
.flag.flag-64.flag-sm { background-position: -896px -768px; }
.flag.flag-64.flag-sn { background-position: -960px -768px; }
.flag.flag-64.flag-so { background-position: -1024px -768px; }
.flag.flag-64.flag-sr { background-position: -0px -832px; }
.flag.flag-64.flag-ss { background-position: -64px -832px; }
.flag.flag-64.flag-st { background-position: -128px -832px; }
.flag.flag-64.flag-sv { background-position: -192px -832px; }
.flag.flag-64.flag-sy { background-position: -256px -832px; }
.flag.flag-64.flag-sz { background-position: -320px -832px; }
.flag.flag-64.flag-tc { background-position: -384px -832px; }
.flag.flag-64.flag-td { background-position: -448px -832px; }
.flag.flag-64.flag-tf { background-position: -512px -832px; }
.flag.flag-64.flag-tg { background-position: -576px -832px; }
.flag.flag-64.flag-th { background-position: -640px -832px; }
.flag.flag-64.flag-tj { background-position: -704px -832px; }
.flag.flag-64.flag-tk { background-position: -768px -832px; }
.flag.flag-64.flag-tl { background-position: -832px -832px; }
.flag.flag-64.flag-tm { background-position: -896px -832px; }
.flag.flag-64.flag-tn { background-position: -960px -832px; }
.flag.flag-64.flag-to { background-position: -1024px -832px; }
.flag.flag-64.flag-tr { background-position: -0px -896px; }
.flag.flag-64.flag-tt { background-position: -64px -896px; }
.flag.flag-64.flag-tv { background-position: -128px -896px; }
.flag.flag-64.flag-tw { background-position: -192px -896px; }
.flag.flag-64.flag-tz { background-position: -256px -896px; }
.flag.flag-64.flag-ua { background-position: -320px -896px; }
.flag.flag-64.flag-ug { background-position: -384px -896px; }
.flag.flag-64.flag-us { background-position: -448px -896px; }
.flag.flag-64.flag-uy { background-position: -512px -896px; }
.flag.flag-64.flag-uz { background-position: -576px -896px; }
.flag.flag-64.flag-va { background-position: -640px -896px; }
.flag.flag-64.flag-vc { background-position: -704px -896px; }
.flag.flag-64.flag-ve { background-position: -768px -896px; }
.flag.flag-64.flag-vg { background-position: -832px -896px; }
.flag.flag-64.flag-vi { background-position: -896px -896px; }
.flag.flag-64.flag-vn { background-position: -960px -896px; }
.flag.flag-64.flag-vu { background-position: -1024px -896px; }
.flag {
  display: inline-block;
  background-repeat: no-repeat;
}

.flag.flag-48 {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url('assets/sprite-flags-48x48.png');
  background-repeat: no-repeat;
}
.flag.flag-48.flag-abkhazia { background-position: -0px -0px; }
.flag.flag-48.flag-basque-country { background-position: -48px -0px; }
.flag.flag-48.flag-british-antarctic-territory { background-position: -96px -0px; }
.flag.flag-48.flag-commonwealth { background-position: -144px -0px; }
.flag.flag-48.flag-england { background-position: -192px -0px; }
.flag.flag-48.flag-gosquared { background-position: -240px -0px; }
.flag.flag-48.flag-kosovo { background-position: -288px -0px; }
.flag.flag-48.flag-mars { background-position: -336px -0px; }
.flag.flag-48.flag-nagorno-karabakh { background-position: -384px -0px; }
.flag.flag-48.flag-nato { background-position: -432px -0px; }
.flag.flag-48.flag-northern-cyprus { background-position: -480px -0px; }
.flag.flag-48.flag-olympics { background-position: -528px -0px; }
.flag.flag-48.flag-red-cross { background-position: -576px -0px; }
.flag.flag-48.flag-scotland { background-position: -624px -0px; }
.flag.flag-48.flag-somaliland { background-position: -672px -0px; }
.flag.flag-48.flag-south-ossetia { background-position: -720px -0px; }
.flag.flag-48.flag-united-nations { background-position: -768px -0px; }
.flag.flag-48.flag-unknown { background-position: -0px -48px; }
.flag.flag-48.flag-wales { background-position: -48px -48px; }
.flag.flag-48.flag-ad { background-position: -96px -48px; }
.flag.flag-48.flag-ae { background-position: -144px -48px; }
.flag.flag-48.flag-af { background-position: -192px -48px; }
.flag.flag-48.flag-ag { background-position: -240px -48px; }
.flag.flag-48.flag-ai { background-position: -288px -48px; }
.flag.flag-48.flag-al { background-position: -336px -48px; }
.flag.flag-48.flag-am { background-position: -384px -48px; }
.flag.flag-48.flag-an { background-position: -432px -48px; }
.flag.flag-48.flag-ao { background-position: -480px -48px; }
.flag.flag-48.flag-aq { background-position: -528px -48px; }
.flag.flag-48.flag-ar { background-position: -576px -48px; }
.flag.flag-48.flag-as { background-position: -624px -48px; }
.flag.flag-48.flag-at { background-position: -672px -48px; }
.flag.flag-48.flag-au { background-position: -720px -48px; }
.flag.flag-48.flag-aw { background-position: -768px -48px; }
.flag.flag-48.flag-ax { background-position: -0px -96px; }
.flag.flag-48.flag-az { background-position: -48px -96px; }
.flag.flag-48.flag-ba { background-position: -96px -96px; }
.flag.flag-48.flag-bb { background-position: -144px -96px; }
.flag.flag-48.flag-bd { background-position: -192px -96px; }
.flag.flag-48.flag-be { background-position: -240px -96px; }
.flag.flag-48.flag-bf { background-position: -288px -96px; }
.flag.flag-48.flag-bg { background-position: -336px -96px; }
.flag.flag-48.flag-bh { background-position: -384px -96px; }
.flag.flag-48.flag-bi { background-position: -432px -96px; }
.flag.flag-48.flag-bj { background-position: -480px -96px; }
.flag.flag-48.flag-bl { background-position: -528px -96px; }
.flag.flag-48.flag-bm { background-position: -576px -96px; }
.flag.flag-48.flag-bn { background-position: -624px -96px; }
.flag.flag-48.flag-bo { background-position: -672px -96px; }
.flag.flag-48.flag-br { background-position: -720px -96px; }
.flag.flag-48.flag-bs { background-position: -768px -96px; }
.flag.flag-48.flag-bt { background-position: -0px -144px; }
.flag.flag-48.flag-bw { background-position: -48px -144px; }
.flag.flag-48.flag-by { background-position: -96px -144px; }
.flag.flag-48.flag-bz { background-position: -144px -144px; }
.flag.flag-48.flag-ca { background-position: -192px -144px; }
.flag.flag-48.flag-cc { background-position: -240px -144px; }
.flag.flag-48.flag-cd { background-position: -288px -144px; }
.flag.flag-48.flag-cf { background-position: -336px -144px; }
.flag.flag-48.flag-cg { background-position: -384px -144px; }
.flag.flag-48.flag-ch { background-position: -432px -144px; }
.flag.flag-48.flag-ci { background-position: -480px -144px; }
.flag.flag-48.flag-ck { background-position: -528px -144px; }
.flag.flag-48.flag-cl { background-position: -576px -144px; }
.flag.flag-48.flag-cm { background-position: -624px -144px; }
.flag.flag-48.flag-cn { background-position: -672px -144px; }
.flag.flag-48.flag-co { background-position: -720px -144px; }
.flag.flag-48.flag-cr { background-position: -768px -144px; }
.flag.flag-48.flag-cu { background-position: -0px -192px; }
.flag.flag-48.flag-cv { background-position: -48px -192px; }
.flag.flag-48.flag-cw { background-position: -96px -192px; }
.flag.flag-48.flag-cx { background-position: -144px -192px; }
.flag.flag-48.flag-cy { background-position: -192px -192px; }
.flag.flag-48.flag-cz { background-position: -240px -192px; }
.flag.flag-48.flag-de { background-position: -288px -192px; }
.flag.flag-48.flag-dj { background-position: -336px -192px; }
.flag.flag-48.flag-dk { background-position: -384px -192px; }
.flag.flag-48.flag-dm { background-position: -432px -192px; }
.flag.flag-48.flag-do { background-position: -480px -192px; }
.flag.flag-48.flag-dz { background-position: -528px -192px; }
.flag.flag-48.flag-ec { background-position: -576px -192px; }
.flag.flag-48.flag-ee { background-position: -624px -192px; }
.flag.flag-48.flag-eg { background-position: -672px -192px; }
.flag.flag-48.flag-eh { background-position: -720px -192px; }
.flag.flag-48.flag-er { background-position: -768px -192px; }
.flag.flag-48.flag-es { background-position: -0px -240px; }
.flag.flag-48.flag-et { background-position: -48px -240px; }
.flag.flag-48.flag-eu { background-position: -96px -240px; }
.flag.flag-48.flag-fi { background-position: -144px -240px; }
.flag.flag-48.flag-fj { background-position: -192px -240px; }
.flag.flag-48.flag-fk { background-position: -240px -240px; }
.flag.flag-48.flag-fm { background-position: -288px -240px; }
.flag.flag-48.flag-fo { background-position: -336px -240px; }
.flag.flag-48.flag-fr { background-position: -384px -240px; }
.flag.flag-48.flag-ga { background-position: -432px -240px; }
.flag.flag-48.flag-gb { background-position: -480px -240px; }
.flag.flag-48.flag-gd { background-position: -528px -240px; }
.flag.flag-48.flag-ge { background-position: -576px -240px; }
.flag.flag-48.flag-gg { background-position: -624px -240px; }
.flag.flag-48.flag-gh { background-position: -672px -240px; }
.flag.flag-48.flag-gi { background-position: -720px -240px; }
.flag.flag-48.flag-gl { background-position: -768px -240px; }
.flag.flag-48.flag-gm { background-position: -0px -288px; }
.flag.flag-48.flag-gn { background-position: -48px -288px; }
.flag.flag-48.flag-gq { background-position: -96px -288px; }
.flag.flag-48.flag-gr { background-position: -144px -288px; }
.flag.flag-48.flag-gs { background-position: -192px -288px; }
.flag.flag-48.flag-gt { background-position: -240px -288px; }
.flag.flag-48.flag-gu { background-position: -288px -288px; }
.flag.flag-48.flag-gw { background-position: -336px -288px; }
.flag.flag-48.flag-gy { background-position: -384px -288px; }
.flag.flag-48.flag-hk { background-position: -432px -288px; }
.flag.flag-48.flag-hn { background-position: -480px -288px; }
.flag.flag-48.flag-hr { background-position: -528px -288px; }
.flag.flag-48.flag-ht { background-position: -576px -288px; }
.flag.flag-48.flag-hu { background-position: -624px -288px; }
.flag.flag-48.flag-ic { background-position: -672px -288px; }
.flag.flag-48.flag-id { background-position: -720px -288px; }
.flag.flag-48.flag-ie { background-position: -768px -288px; }
.flag.flag-48.flag-il { background-position: -0px -336px; }
.flag.flag-48.flag-im { background-position: -48px -336px; }
.flag.flag-48.flag-in { background-position: -96px -336px; }
.flag.flag-48.flag-iq { background-position: -144px -336px; }
.flag.flag-48.flag-ir { background-position: -192px -336px; }
.flag.flag-48.flag-is { background-position: -240px -336px; }
.flag.flag-48.flag-it { background-position: -288px -336px; }
.flag.flag-48.flag-je { background-position: -336px -336px; }
.flag.flag-48.flag-jm { background-position: -384px -336px; }
.flag.flag-48.flag-jo { background-position: -432px -336px; }
.flag.flag-48.flag-jp { background-position: -480px -336px; }
.flag.flag-48.flag-ke { background-position: -528px -336px; }
.flag.flag-48.flag-kg { background-position: -576px -336px; }
.flag.flag-48.flag-kh { background-position: -624px -336px; }
.flag.flag-48.flag-ki { background-position: -672px -336px; }
.flag.flag-48.flag-km { background-position: -720px -336px; }
.flag.flag-48.flag-kn { background-position: -768px -336px; }
.flag.flag-48.flag-kp { background-position: -0px -384px; }
.flag.flag-48.flag-kr { background-position: -48px -384px; }
.flag.flag-48.flag-kw { background-position: -96px -384px; }
.flag.flag-48.flag-ky { background-position: -144px -384px; }
.flag.flag-48.flag-kz { background-position: -192px -384px; }
.flag.flag-48.flag-la { background-position: -240px -384px; }
.flag.flag-48.flag-lb { background-position: -288px -384px; }
.flag.flag-48.flag-lc { background-position: -336px -384px; }
.flag.flag-48.flag-li { background-position: -384px -384px; }
.flag.flag-48.flag-lk { background-position: -432px -384px; }
.flag.flag-48.flag-lr { background-position: -480px -384px; }
.flag.flag-48.flag-ls { background-position: -528px -384px; }
.flag.flag-48.flag-lt { background-position: -576px -384px; }
.flag.flag-48.flag-lu { background-position: -624px -384px; }
.flag.flag-48.flag-lv { background-position: -672px -384px; }
.flag.flag-48.flag-ly { background-position: -720px -384px; }
.flag.flag-48.flag-ma { background-position: -768px -384px; }
.flag.flag-48.flag-mc { background-position: -0px -432px; }
.flag.flag-48.flag-md { background-position: -48px -432px; }
.flag.flag-48.flag-me { background-position: -96px -432px; }
.flag.flag-48.flag-mf { background-position: -144px -432px; }
.flag.flag-48.flag-mg { background-position: -192px -432px; }
.flag.flag-48.flag-mh { background-position: -240px -432px; }
.flag.flag-48.flag-mk { background-position: -288px -432px; }
.flag.flag-48.flag-ml { background-position: -336px -432px; }
.flag.flag-48.flag-mm { background-position: -384px -432px; }
.flag.flag-48.flag-mn { background-position: -432px -432px; }
.flag.flag-48.flag-mo { background-position: -480px -432px; }
.flag.flag-48.flag-mp { background-position: -528px -432px; }
.flag.flag-48.flag-mq { background-position: -576px -432px; }
.flag.flag-48.flag-mr { background-position: -624px -432px; }
.flag.flag-48.flag-ms { background-position: -672px -432px; }
.flag.flag-48.flag-mt { background-position: -720px -432px; }
.flag.flag-48.flag-mu { background-position: -768px -432px; }
.flag.flag-48.flag-mv { background-position: -0px -480px; }
.flag.flag-48.flag-mw { background-position: -48px -480px; }
.flag.flag-48.flag-mx { background-position: -96px -480px; }
.flag.flag-48.flag-my { background-position: -144px -480px; }
.flag.flag-48.flag-mz { background-position: -192px -480px; }
.flag.flag-48.flag-na { background-position: -240px -480px; }
.flag.flag-48.flag-nc { background-position: -288px -480px; }
.flag.flag-48.flag-ne { background-position: -336px -480px; }
.flag.flag-48.flag-nf { background-position: -384px -480px; }
.flag.flag-48.flag-ng { background-position: -432px -480px; }
.flag.flag-48.flag-ni { background-position: -480px -480px; }
.flag.flag-48.flag-nl { background-position: -528px -480px; }
.flag.flag-48.flag-no { background-position: -576px -480px; }
.flag.flag-48.flag-np { background-position: -624px -480px; }
.flag.flag-48.flag-nr { background-position: -672px -480px; }
.flag.flag-48.flag-nu { background-position: -720px -480px; }
.flag.flag-48.flag-nz { background-position: -768px -480px; }
.flag.flag-48.flag-om { background-position: -0px -528px; }
.flag.flag-48.flag-pa { background-position: -48px -528px; }
.flag.flag-48.flag-pe { background-position: -96px -528px; }
.flag.flag-48.flag-pf { background-position: -144px -528px; }
.flag.flag-48.flag-pg { background-position: -192px -528px; }
.flag.flag-48.flag-ph { background-position: -240px -528px; }
.flag.flag-48.flag-pirate-black { background-position: -288px -528px; }
.flag.flag-48.flag-pirate-white { background-position: -336px -528px; }
.flag.flag-48.flag-pk { background-position: -384px -528px; }
.flag.flag-48.flag-pl { background-position: -432px -528px; }
.flag.flag-48.flag-pn { background-position: -480px -528px; }
.flag.flag-48.flag-pr { background-position: -528px -528px; }
.flag.flag-48.flag-ps { background-position: -576px -528px; }
.flag.flag-48.flag-pt { background-position: -624px -528px; }
.flag.flag-48.flag-pw { background-position: -672px -528px; }
.flag.flag-48.flag-py { background-position: -720px -528px; }
.flag.flag-48.flag-qa { background-position: -768px -528px; }
.flag.flag-48.flag-ro { background-position: -0px -576px; }
.flag.flag-48.flag-rs { background-position: -48px -576px; }
.flag.flag-48.flag-ru { background-position: -96px -576px; }
.flag.flag-48.flag-rw { background-position: -144px -576px; }
.flag.flag-48.flag-sa { background-position: -192px -576px; }
.flag.flag-48.flag-sb { background-position: -240px -576px; }
.flag.flag-48.flag-sc { background-position: -288px -576px; }
.flag.flag-48.flag-sd { background-position: -336px -576px; }
.flag.flag-48.flag-se { background-position: -384px -576px; }
.flag.flag-48.flag-sg { background-position: -432px -576px; }
.flag.flag-48.flag-sh { background-position: -480px -576px; }
.flag.flag-48.flag-si { background-position: -528px -576px; }
.flag.flag-48.flag-sk { background-position: -576px -576px; }
.flag.flag-48.flag-sl { background-position: -624px -576px; }
.flag.flag-48.flag-sm { background-position: -672px -576px; }
.flag.flag-48.flag-sn { background-position: -720px -576px; }
.flag.flag-48.flag-so { background-position: -768px -576px; }
.flag.flag-48.flag-sr { background-position: -0px -624px; }
.flag.flag-48.flag-ss { background-position: -48px -624px; }
.flag.flag-48.flag-st { background-position: -96px -624px; }
.flag.flag-48.flag-sv { background-position: -144px -624px; }
.flag.flag-48.flag-sy { background-position: -192px -624px; }
.flag.flag-48.flag-sz { background-position: -240px -624px; }
.flag.flag-48.flag-tc { background-position: -288px -624px; }
.flag.flag-48.flag-td { background-position: -336px -624px; }
.flag.flag-48.flag-tf { background-position: -384px -624px; }
.flag.flag-48.flag-tg { background-position: -432px -624px; }
.flag.flag-48.flag-th { background-position: -480px -624px; }
.flag.flag-48.flag-tj { background-position: -528px -624px; }
.flag.flag-48.flag-tk { background-position: -576px -624px; }
.flag.flag-48.flag-tl { background-position: -624px -624px; }
.flag.flag-48.flag-tm { background-position: -672px -624px; }
.flag.flag-48.flag-tn { background-position: -720px -624px; }
.flag.flag-48.flag-to { background-position: -768px -624px; }
.flag.flag-48.flag-tr { background-position: -0px -672px; }
.flag.flag-48.flag-tt { background-position: -48px -672px; }
.flag.flag-48.flag-tv { background-position: -96px -672px; }
.flag.flag-48.flag-tw { background-position: -144px -672px; }
.flag.flag-48.flag-tz { background-position: -192px -672px; }
.flag.flag-48.flag-ua { background-position: -240px -672px; }
.flag.flag-48.flag-ug { background-position: -288px -672px; }
.flag.flag-48.flag-us { background-position: -336px -672px; }
.flag.flag-48.flag-uy { background-position: -384px -672px; }
.flag.flag-48.flag-uz { background-position: -432px -672px; }
.flag.flag-48.flag-va { background-position: -480px -672px; }
.flag.flag-48.flag-vc { background-position: -528px -672px; }
.flag.flag-48.flag-ve { background-position: -576px -672px; }
.flag.flag-48.flag-vg { background-position: -624px -672px; }
.flag.flag-48.flag-vi { background-position: -672px -672px; }
.flag.flag-48.flag-vn { background-position: -720px -672px; }
.flag.flag-48.flag-vu { background-position: -768px -672px; }
