///////////////////////////////////////////////
//                Variables                  //
///////////////////////////////////////////////

$primary: #14a098;
$primary-light: #169aa0;
$primary-dark: #0e8b91;
//$primary: #501f3a;
$secondary: #CB2D6F;
$background: #E6ECF0;
$bg-s: #f5f8fa;
$purple: #db2abe;
$green: #14a098;
$red: #CB2D6F;
$blue: #OF292F;
$grey: #f5f8fa;
$white: #FFFFFF;
