<div class="top-header">
  <app-header></app-header>
</div>
<div class="content">
  <div class="bg-p">
    <div class="row">
      <div class="col">
        <div class="main-title">
          <div class="centered-v title">
            <span>Dashboard</span>
            <fa name="dashboard" class="padding"></fa>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col rounded-s bordered segment bg-white">
        <div class="row" [ngStyle]="{'height.px': max}">
          <div class="col bg-bluish" *ngFor="let bar of graph.bars" [ngStyle]="{'height': bar.height + '%'}">
            {{bar.height}}
          </div>
        </div>

      </div>
      <div class="col rounded-s bordered segment padding bg-white">
        this
      </div>
    </div>
  </div>
</div>
